.mail-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sort-buttons {
    display: flex;
    gap: 20px;
    margin: 15px 0;
    justify-content: flex-start; /* Align the buttons to the start */
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0; /* Add a subtle border to separate it from the list */
}

.sort-buttons button {
    padding: 10px 20px; /* Make the buttons bigger */
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    border-radius: 25px; /* Rounded corners for a more modern look */
    font-size: 16px;
    font-weight: bold;
    color: #5f6368;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.sort-buttons button.active {
    background-color: #4285f4;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to active button */
}

.sort-buttons button:hover {
    background-color: #f1f3f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #202124;
}

.sort-buttons button.active:hover {
    background-color: #357ABD;
}

.sort-buttons button::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
}

.sort-buttons button:nth-child(1)::before {
    content: '📅'; 
}

.sort-buttons button:nth-child(2)::before {
    content: '🔤'; 
}

.sort-buttons button:nth-child(3)::before {
    content: '🗂️'; 
}

.material-symbols-outlined {
    font-size: 5px; 
    vertical-align: middle; 
    margin-right: 5px; 
    font-weight: lighter;

}
