:root {
    --main-bg-color: lightblue;
    --clr-hover-icon: #e8eaed;
    --clr-header: #5f6368;
    --clr-add-note-border: #babbbc;
    --clr-titles: #5f6368;
    --clr-filterBy: #f1f3f4;
    --clr-note-type-filter: #1a73e8;
    --clr-note-nav-picked: #feefc3;
}
