.add-note-form {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--clr-add-note-border);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.add-note-form:has(input:focus) {
}
.add-note-form button {
    align-self: center;
}
.add-note {
    position: relative;
    width: clamp(200px, 100%, 600px);
    margin: auto;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 0.5em;
    transition: background-color 0.4s;
}
.add-note input {
    background-color: transparent;
}
.add-note .btns-control-panel {
    background-color: aqua;
    display: flex;
}

.add-note .btn {
    position: absolute;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
.add-note .btns-control-panel > * {
    position: static;
    transform: none;
}
.add-note .btn:hover {
    opacity: 0.8;
}
.add-note .todo-btn {
    right: 1em;
}
.add-note .img-btn {
    right: 4em;
}
.add-note .pin-btn {
    right: 0;
    top: 1.2em;
}
.add-note .add-btn {
    border-radius: 0.2em;
}
.add-note input {
    padding: 0.3em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}
