.note-wrapper {
    position: relative;
}
.note-wrapper .delete-btn {
    position: absolute;
    right: 0;
}
.note-preview {
    padding: 1em;
    border: 1px solid lightgray;

    border-radius: 1em;
}
