.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(auto, 1080px)
        minmax(20px, 1fr);
}
.main-layout .full {
    grid-column: 1 / -1;
}
.main-layout .vertical-full {
    grid-row: 1 / span 2;
}
.main-layout > :not(.full):not(.vertical-full) {
    grid-column: 2;
}
